# Python byte-code
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/

# Vagrant
.vagrant

# Ignore commit_msg.txt file (for keeping track of changes before committing)
commit_msg.txt
